---
import Layout from '../../layouts/Layout.astro';

const title = "Community";
const description = "Join the Suncoast Developers Guild community in Tampa Bay";
---

<Layout title={title} description={description}>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Community</h1>
                <h2 class="subtitle">Our Member Organizations</h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="content">
                <p>Suncoast Developers Guild is proud to help connect dozens of local tech organizations. If you don't see your group here and you'd like to; please <a href="/contact">reach out to us</a>.</p>
            </div>
            
            <div class="notification is-info">
                <p>Our community member organizations list is currently being updated. Please check back soon for a full directory of Tampa Bay tech groups.</p>
            </div>
            
            <h3 class="title is-3">Get Involved</h3>
            <div class="content">
                <p>Join our community of developers, designers, and tech enthusiasts in the Tampa Bay area:</p>
                <ul>
                    <li><a href="https://join.slack.com/t/suncoast-devs/shared_invite/enQtNzY1NDAxMjk4NTYzLWUwZGQ4NjhjMmJiMmI5YTc4OGEzYjViMTgzNWQ1MGViZWI5MzI4NWRlNTAyMzljYjU1ZTNiYjkzZWY2YmI3NTE">Join us on Slack</a></li>
                    <li><a href="https://sdg.codes/discord">Join us on Discord</a></li>
                    <li><a href="https://www.meetup.com/suncoast-developers-guild/">Find us on Meetup</a></li>
                </ul>
            </div>
        </div>
    </section>
</Layout>