---
import Layout from '../layouts/Layout.astro';

const title = "Brand Identity";
const description = "Guidelines for using the Suncoast Developers Guild Brand";
---

<Layout title={title} description={description}>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Brand Identity</h1>
                <h2 class="subtitle">Guidelines for using the Suncoast Developers Guild Brand</h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <article class="message is-primary">
                <div class="message-body">
                    <strong>Note</strong>: This document is a <em>work in progress</em>.
                </div>
            </article>
            <section class="subsection">
                <h3 class="title">Color</h3>
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-content" style="background-color: #80ced2; height: 100px;"></div>
                            <div class="card-footer">
                                <p class="card-footer-item has-text-weight-bold">Bright Sky</p>
                                <p class="card-footer-item"><span class="tag is-medium">#80ced2</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-content" style="background-color: #85577e; height: 100px;"></div>
                            <div class="card-footer">
                                <p class="card-footer-item has-text-weight-bold">Night Sky</p>
                                <p class="card-footer-item"><span class="tag is-medium">#85577e</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-content" style="background-color: #d5562b; height: 100px;"></div>
                            <div class="card-footer">
                                <p class="card-footer-item has-text-weight-bold">Sun</p>
                                <p class="card-footer-item"><span class="tag is-medium">#d5562b</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-content" style="background-color: #5a9090; height: 100px;"></div>
                            <div class="card-footer">
                                <p class="card-footer-item has-text-weight-bold">Sea</p>
                                <p class="card-footer-item"><span class="tag is-medium">#5a9090</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-content" style="background-color: #f7f0da; height: 100px;"></div>
                            <div class="card-footer">
                                <p class="card-footer-item has-text-weight-bold">Sand</p>
                                <p class="card-footer-item"><span class="tag is-medium">#f7f0da</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-content" style="background-color: #2f3737; height: 100px;"></div>
                            <div class="card-footer">
                                <p class="card-footer-item has-text-weight-bold">Asphalt</p>
                                <p class="card-footer-item"><span class="tag is-medium">#2f3737</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-content" style="background-color: #b1d133; height: 100px;"></div>
                            <div class="card-footer">
                                <p class="card-footer-item has-text-weight-bold">Lime</p>
                                <p class="card-footer-item"><span class="tag is-medium">#b1d133</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-content" style="background-color: #f99d1b; height: 100px;"></div>
                            <div class="card-footer">
                                <p class="card-footer-item has-text-weight-bold">Tangerine</p>
                                <p class="card-footer-item"><span class="tag is-medium">#f99d1b</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="subsection">
                <h3 class="title">Typography</h3>
                <div class="content">
                    <p>Our primary typeface is <strong>Source Sans Pro</strong>. A part of Adobe's open source typeface family, it is inspired by twentieth-century American gothic type design. Source Sans Pro should be used for all body copy with various weights and case (including small caps) to indicate hierarchy.</p>
                </div>
                <div class="box" style="font: 1.5rem Source Sans Pro;">
                    <p>How does a mum tiger study?</p>
                    <p class="has-text-weight-bold" style="font-variant: small-caps; text-transform: lowercase;">The dread wartime paces past the mainstream guy.</p>
                    <p class="has-text-weight-light">An engine orbits!</p>
                </div>
                <div class="content">
                    <p>Our secondary typeface, reserved almost exclusively for titles, is <strong>Source Serif Pro</strong>. Set titles in bold (700 weight) using title case or sentence case, but never all caps or small caps.</p>
                </div>
                <div class="box" style="font: 1.5rem Source Serif Pro;">
                    <p class="has-text-weight-bold">A Protein Mutters</p>
                    <p class="has-text-weight-bold">Can a wolf storm under another fifteen view?</p>
                </div>
            </section>
            
            <section class="subsection">
                <h3 class="title">Our Logos and their Usage</h3>
                <div class="columns">
                    <div class="column is-one-fifth">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="/brand/banner.svg" alt="SDG Banner Logo">
                                </figure>
                            </div>
                            <footer class="card-footer">
                                <a href="/brand/banner.svg" class="card-footer-item">SVG</a>
                                <a href="/brand/banner.png" class="card-footer-item">PNG</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column content">
                        <p>The <strong>Banner</strong> logo is our brand's primary symbol. It is the default option in almost every use-case. The monochromatic variant of this logo can also be used in print.</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-one-fifth">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="/brand/bouy.svg" alt="SDG Bouy Logo">
                                </figure>
                            </div>
                            <footer class="card-footer">
                                <a href="/brand/bouy.svg" class="card-footer-item">SVG</a>
                                <a href="/brand/bouy.png" class="card-footer-item">PNG</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column content">
                        <p>The <strong>Bouy</strong> logo is an embellishment of our primary Banner logo and is used only in situations where it will render clearly (i.e., legibly sized text in the banner) and in <em>full color</em>, usually in addition to the Banner (e.g., in a footer, or on back of a card).</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-one-fifth">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="/brand/button.svg" alt="SDG Button Logo">
                                </figure>
                            </div>
                            <footer class="card-footer">
                                <a href="/brand/button.svg" class="card-footer-item">SVG</a>
                                <a href="/brand/button.png" class="card-footer-item">PNG</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column content">
                        <p>The <strong>Button</strong> logo is used exclusively where small, square, or round sizes are required (e.g., avatars, profile images for company accounts on social media, etc.).</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-one-fifth">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="/brand/badge.svg" alt="SDG Badge Logo">
                                </figure>
                            </div>
                            <footer class="card-footer">
                                <a href="/brand/badge.svg" class="card-footer-item">SVG</a>
                                <a href="/brand/badge.png" class="card-footer-item">PNG</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column content">
                        <p>The <strong>Badge</strong> logo is a decorative figure based on our corporate seal. It's primarily used a watermark to add visual interest to a design, or on the back/bottom of a card or letter.</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-one-fifth">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="/brand/junior.svg" alt="SDG Jr Logo">
                                </figure>
                            </div>
                            <footer class="card-footer">
                                <a href="/brand/junior.svg" class="card-footer-item">SVG</a>
                                <a href="/brand/junior.png" class="card-footer-item">PNG</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column content">
                        <p>The <strong>Junior</strong> logo is used to promote <a href="/jr">SDG Jr.</a></p>
                    </div>
                </div>
            </section>
            
            <section class="subsection">
                <h3 class="title">Vision</h3>
                <div class="content">
                    <p>Our illustration style is intended to resemble hand-cut paper.</p>
                </div>
            </section>
            
            <section class="subsection">
                <h3 class="title">Voice</h3>
                <div class="content">
                    <p>The official style manual for all Suncoast Developers Guild communications is <a href="https://www.apstylebook.com/">The Associated Press Stylebook</a>. Use tools like spell checking, <a href="https://www.grammarly.com/">Grammarly</a>, and <a href="http://www.hemingwayapp.com/">Hemingway Editor</a> to ensure writing is clear, concise, and correct.</p>
                    <p>Look for opportunities to convey inclusiveness and empathy.</p>
                </div>
            </section>
        </div>
    </section>
</Layout>