---
import Layout from '../layouts/Layout.astro';

const title = "SDG Jr";
const description = "Free coding classes for kids at Suncoast Developers Guild";
---

<Layout title={title} description={description}>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Suncoast Developers Guild Jr.</h1>
                <h2 class="subtitle">Free coding classes for kids</h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="content">
                <p>Suncoast Developers Guild Jr is a volunteer-run program that provides free kids classes that gives an introduction to coding to children and young adults. Our goal is for students to have a great time learning and playing with new tools and ideas. There are no tests, grades or homework.</p>
                
                <h3>Why do we host free kids classes?</h3>
                <p>We believe in investing in the local tech economy for the long-run, and that means impacting the next generation. Plus it is just super fun!!</p>
                
                <h3>How often do we host kids classes?</h3>
                <p>We host classes at our campus three to four times a year. We will also hold classes at other locations for special events such as Hour of Code and Tampa Bay Startup Week.</p>
                
                <h3>What ages can attend?</h3>
                <p>Our classes are designed for two age groups, 8-12 and 13-17. We strive to make learning fun and teach our students new skills, and these age groups allow us to adjust the curriculum so that each attendee can complete a small project by the end of the class.</p>
                
                <h3>What type of classes do you carry?</h3>
                <p>We are continuously looking for new classes to rotate into our program. Here are a few that we have carried in the past:</p>
                
                <h4>Scratch</h4>
                <p><a href="https://scratch.mit.edu/">Scratch</a> is a visual program language provided by Lifelong Kindergarten Group at the MIT Media Lab. We like to use Scratch to break down many barriers that prevent students from learning to code, while still teaching the basics and logic behind programming.</p>
                <p>Scratch is a drag and drop method for learning to code so it feels more like a game to students and allows them to add characters, animations, and even sounds to their projects without needing typing skills.</p>
                
                <h4>HTML & CSS</h4>
                <p>HTML and CSS are the building blocks of web development--every website has HTML and CSS in it! In this class, we teach the basics of web programming and CSS animations, allowing the students plenty of time to experiment and personalize their pages.</p>
                
                <h4>JavaScript</h4>
                <p>JavaScript is a powerful programming language that is used in every web browser. We utilize fun activities and animations to teach kids about functions, strings, arrays and more. We offer both introductory and intermediate JavaScript classes. Come prepared to look for every last quote, period and semi-colon!</p>
                
                <h3>What do we need to bring if we attend?</h3>
                <p>Students are required to bring their own computer. If you do not have a laptop and would like to attend please <a href="/contact">contact us</a>.</p>
                <p>Both Mac and PCs are welcome, we do recommend that is is fully charged or that you bring a charger with you. All software used is free online! We also recommend having access to a web browser such as Chrome or Firefox prior to class. If you need to download something for a class we will let you know before you arrive.</p>
                
                <h3>Do we need to have prior experience before attending?</h3>
                <p>Imagination and a love for fun are the only requirements for our classes. Basic typing skills are helpful, but we will go at a slow enough pace for students that are not as familiar with typing.</p>
                <p>Our introductory classes are for beginners with no prerequisites. We do recommend attending an intro class before any of our intermediate classes for the 13-17 age group.</p>
                
                <h3>Do I need to be present while my child is in the class?</h3>
                <p>We do require a parent or a guardian to remain with the student for the entirety of the course for students under the age of 16. Parents can learn something new and have a great time with their child as they learn to code.</p>
                
                <h3>How do we sign up to learn about upcoming classes?</h3>
                <p>You can find our next class on <a href="https://www.meetup.com/suncoast-developers-guild/">our Meetup</a>. In the mean time, you can join our mailing list for updates.</p>
            </div>
        </div>
    </section>
</Layout>