---
import Layout from '../layouts/Layout.astro';

const title = "Terms of Service";
const description = "Suncoast Developers Guild Terms of Service";
---

<Layout title={title} description={description}>
    <section class="section">
        <div class="container">
            <div class="content">
                <h2 class="title is-2">Terms of Service</h2>
                
                <h3>1. Terms</h3>
                <p>By accessing the website at https://suncoast.io/, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
                
                <h3>2. Use License</h3>
                <ul>
                    <li>Permission is granted to temporarily download one copy of the materials (information or software) on Suncoast Developers Guild's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
                        <ul>
                            <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
                            <li>remove any copyright or other proprietary notations from the materials; or</li>
                            <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
                        </ul>
                    </li>
                    <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by Suncoast Developers Guild at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
                </ul>
                
                <h3>3. Disclaimer</h3>
                <ul>
                    <li>The materials on Suncoast Developers Guild's website are provided on an 'as is' basis. Suncoast Developers Guild makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
                    <li>Further, Suncoast Developers Guild does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
                </ul>
                
                <h3>4. Limitations</h3>
                <p>In no event shall Suncoast Developers Guild or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Suncoast Developers Guild's website, even if Suncoast Developers Guild or a Suncoast Developers Guild authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
                
                <h3>5. Accuracy of materials</h3>
                <p>The materials appearing on Suncoast Developers Guild's website could include technical, typographical, or photographic errors. Suncoast Developers Guild does not warrant that any of the materials on its website are accurate, complete or current. Suncoast Developers Guild may make changes to the materials contained on its website at any time without notice. However Suncoast Developers Guild does not make any commitment to update the materials.</p>
                
                <h3>6. Links</h3>
                <p>Suncoast Developers Guild has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Suncoast Developers Guild of the site. Use of any such linked website is at the user's own risk.</p>
                
                <h3>7. Modifications</h3>
                <p>Suncoast Developers Guild may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>
                
                <h3>8. Governing Law</h3>
                <p>These terms and conditions are governed by and construed in accordance with the laws of FL and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
                
                <p><strong>This policy is effective as of June 1<sup>st</sup>, 2018.</strong></p>
            </div>
        </div>
    </section>
</Layout>