---
import Layout from '../../layouts/Layout.astro';

const title = "Summer Hackathon 2020";
const description = "SDG Summer Solstice Hackathon 2020";
---

<Layout title={title} description={description}>
    <section class="section">
        <div class="container">
            <div class="content">
                <p><strong>FOR IMMEDIATE RELEASE: June 4, 2020</strong></p>
                <h1>SDG Summer Solstice Hackathon: Celebrating the Resilient Spirit of Developers and Tampa Bay</h1>
                <p>Join us for a hackathon celebrating the resilient spirit of developers in Tampa Bay.</p>
            </div>
        </div>
    </section>
</Layout>