---
import Layout from '../../layouts/Layout.astro';

const title = "Hero Award Scholarship";
const description = "SDG announces Hero Award scholarship";
---

<Layout title={title} description={description}>
    <section class="section">
        <div class="container">
            <div class="content">
                <p><strong>FOR IMMEDIATE RELEASE: April 14, 2020</strong></p>
                <h1>SDG Announces "Hero Award" Scholarship</h1>
                <p>Suncoast Developers Guild is proud to announce the Hero Award scholarship program.</p>
            </div>
        </div>
    </section>
</Layout>