---
import Layout from '../../layouts/Layout.astro';

const title = "Part-Time Classes";
const description = "St. Pete's Coding School offers part-time classes";
---

<Layout title={title} description={description}>
    <section class="section">
        <div class="container">
            <div class="content">
                <p><strong>FOR IMMEDIATE RELEASE: March 1, 2019</strong></p>
                <h1>St. Pete's Coding School Offers Part-Time Classes</h1>
                <p>Suncoast Developers Guild is now offering part-time classes for those looking to learn coding on a flexible schedule.</p>
            </div>
        </div>
    </section>
</Layout>