---
---
<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths">
                <figure class="image is-128x128">
                    <img src="/brand/bouy.svg" alt="SDG Bouy Logo">
                </figure>
                <div class="content">
                    <p>
                        <strong>Suncoast Developers Guild, Inc.</strong> is a Florida
                        not-for-profit corporation and registered 501(c)(3) organization.
                    </p>
                    <p>
                        Questions? <a href="/contact">Contact us.</a>
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <p class="level-item">
                            <a href="https://twitter.com/suncoastio" target="_blank" rel="noopener noreferrer">
                                <span class="icon"><i class="fab fa-twitter fa-lg"></i></span>
                            </a>
                        </p>
                        <p class="level-item">
                            <a href="https://www.meetup.com/suncoast-developers-guild/" target="_blank" rel="noopener noreferrer">
                                <span class="icon"><i class="fab fa-meetup fa-lg"></i></span>
                            </a>
                        </p>
                        <p class="level-item">
                            <a href="https://www.linkedin.com/school/suncoast-developers-guild/" target="_blank" rel="noopener noreferrer">
                                <span class="icon"><i class="fab fa-linkedin fa-lg"></i></span>
                            </a>
                        </p>
                        <p class="level-item">
                            <a href="https://suncoast-devs.slack.com" target="_blank" rel="noopener noreferrer">
                                <span class="icon"><i class="fab fa-slack fa-lg"></i></span>
                            </a>
                        </p>
                    </div>
                </nav>
            </div>
            <div class="column">
                <aside class="menu">
                    <p class="menu-label">Location</p>
                    <p class="h-adr">
                        <span class="p-locality">St. Petersburg</span>,
                        <span class="p-region">FL</span>
                    </p>
                    <p class="tel">
                        <a href="tel:1-727-201-2012">+1 (727) 201-2012</a>
                    </p>
                    <p class="menu-label">General</p>
                    <ul class="menu-list">
                        <li><a href="/academy">Academy</a></li>
                        <li><a href="/community">Community</a></li>
                        <li><a href="/team">Our Team</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/jr">SDG Jr.</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                <aside class="menu">
                    <p class="menu-label">More</p>
                    <ul class="menu-list">
                        <li><a href="/conduct">Code of Conduct</a></li>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/terms">Terms of Service</a></li>
                        <li><a href="/brand">Brand</a></li>
                        <li><a href="/press">Press</a></li>
                        <li><a href="https://handbook.suncoast.io">Handbook</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="content has-text-centered">
            <p class="is-uppercase has-text-weight-bold">
                &copy; 2017&ndash;{new Date().getFullYear()} Suncoast Developers Guild, Inc.
            </p>
            <p>
                Made with <span class="icon has-text-danger"><i class="fas fa-heart"></i></span> in St. Petersburg, Florida.
            </p>
        </div>
    </div>
</footer>